<div class = "footer">
  <p class = "footerLogo">
    SurveyCenter2018 
    <a href = "https://twitter.com/?lang=en">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD1SURBVDhPYxjEoP4/E8Oa70oMK/9xQkUwAfOKT8EMq75IQLkQsO6jMNPKzxeYV375z7ziywfmFZ+nM638lAk2EBkwr/w8Ayh5F4gdoUJAAz83gTXC8IrPf4C4FSqNAMzLv3gCJf6BFDGt+HwGaFgbkD6Gonnl5+9Q5agAZCJQ8guqYjS84st1qHI0sPyjGlDyJVZNMLziy2SoakwAtLkZ5nRM/PkXw5qPqlClWMCab/LA0N0M8hu6ZqaVX0qhqrAAoKnMK776Mq34shrF9hWffwINLIKqwgFWflAB+qkXqHkvkL4BtOkQKBAZln9QhqoYHoCBAQAVNcKqYXCuZAAAAABJRU5ErkJggg==">    
    </a>
    <a href = "https://www.facebook.com/">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADDSURBVDhPY6AasPXfIWsTtEUJFwbJQ5Uig/+MdgFbd9sHbv1PGG/ZCdUEAVZ+G6SwK8SOQeqhWhkYrEM3yWFTBMLtky7+f/n6+/8Xr77BxUDqoVrxa37w+DMY13SchYsRpblzysX/n7/8+v/wyef/E2ZfgYsTpXnvkWf/f/3++//L19//dx18ChcnSjMIv3j97f/xMy9RxAaJZnzxfOnau/9bdj9CEUOJZ1AKsw/YsgtZAS4MTInboZpQAZlpmxzAwAAAsDhgPx0XYOkAAAAASUVORK5CYII=">
    </a>
    </p>
    </div>
