h4{
    margin-left: 50%;
    margin-right: 50%;
}
.view{
   background-color: #f2f2f2;
}
#formView{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
p{
   margin-left: 50%;
   margin-right: 50%;
   font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
   color: black;
   font-size: 25px;
}